---
import Navbar from "../components/Navbar.astro";
import Page from "../layouts/Page.astro";

let pages = [
  { name: "CLL", href: "/algs/222/CLL" },
  { name: "EG1", href: "/algs/222/EG1" },
]
---

<Page>
  <Navbar slot="navbar" />
  <div class="flex flex-col items-center">
    <h1 class="text-4xl mt-10">2x2 Algs</h1>
    <br>
    <div class="flex flex-col rounded-md shadow-lg divide-y-2 divide-stone-400/20 dark:divide-stone-600/20 bg-stone-200 dark:bg-stone-800 mb-10 items-center text-center text-3xl text-stone-700 dark:text-stone-300 child:w-full child:px-3 child:py-1">
      {pages.map(page => (
        <a href={page.href} class="hover:scale-105">{page.name}</a>
      ))}
    </div>
  </div>
</Page>

<style>
</style>