---
---

<main>
  <div class=" sm:w-3/4 md:w-3/5 m-auto flex flex-col items-center">
    <h1 class="text-4xl">Algsheets:</h1>
    <br>
    <a href="/algs/zbls" class=" text-3xl bg-stone-200 rounded-md px-3 py-1 m-2">ZBLS</a>
    <a href="/algs/megaPLL" class=" text-3xl bg-stone-200 rounded-md px-3 py-1 m-2">Megaminx PLL</a>
  </div>
</main>

<style>

</style>
