---
import SvelteAlgCard from "../components/SvelteAlgCard.svelte";
import { testAlgSet, testAlgSetData } from "../content/testAlgsheet";
import AlgsetLayout from "../layouts/AlgsetLayout.svelte";
---

<main>
  <div class=" w-1/3 m-auto">
    <AlgsetLayout client:visible data={testAlgSetData} algset={testAlgSet} />
  </div>
</main>

<style></style>
