---
import Navbar from "../components/Navbar.astro";
import Page from "../layouts/Page.astro";
import Info from "../components/Info.astro"
import { CorePageRoutes } from "../scripts/routes";

let pages = CorePageRoutes


---

<Page>
  <Navbar slot="navbar" />
  <div class="flex flex-col items-center">
    <h1 class="text-4xl mt-10 text-center">Eduardo Mazuera's Algorithms:</h1>
    <br>
  
    <Info />
  </div>
</Page>

<style>
</style>
