---
import { algSet } from "../templates/megaPLL";
import VerticalLayout from "../layouts/VerticalLayout.astro";
import Navbar from "../layouts/Navbar.astro";
---

<main>
  <Navbar title='Megaminx PLL'>
      <VerticalLayout data={algSet.data} sets={algSet.sets} />
  </Navbar>
</main>

<style>
</style>
