<div
  class="text-center bg-stone-200 dark:bg-stone-800 shadow-xl rounded-xl w-[300px] md:w-[500px] [&>*]:mb-3 mb-3"
>
  <div
    class="h-10 bg-orange-400 rounded-t-xl text-white grid place-items-center text-3xl relative"
  >
    Information
    <div class="absolute right-1 top-1 leading-none">🛈</div>
  </div>
  <div class="text-sm md:text-base w-full px-1">
    <!-- use markdown? -->
    <div>
      This site is my personal reference for learning and sharing algs. I am
      left handed so <b>pretty much all my algs are lefty</b>, but the alg
      visualization should make it easy to mentally mirror the alg for right
      handed people.
    </div>
    <br />
    <div class="text-xs md:text-base divide-y-2 divide-stone-400/30 dark:divide-stone-700/40">
        <div class="text-lg md:text-2xl">Features</div>
        <div>Click on a case image to see an animated alg vis.</div>
        <div>Tap on the alg vis to pause and play the animation.</div>
        <div>Click on a set to collapse or uncollapse it. <br>
          (If a set can't be uncollapsed then its empty or a WIP)
        </div>
        <div>
          Clicking on any alg will set the visualizer to visualize it <br>
          (by default the visualizer uses the first alg)
        </div>
        <div>
          Generate a link to a specific case by clicking the case name.
        </div>
    </div>
  </div>
</div>
