---
let pages = [
  { name: "PLL", href: "/algs/pll" },
  { name: "ZBLS", href: "/algs/zbls" },
  { name: "ZBLL", href: "/algs/zbll" },
  { name: "CLL", href: "/algs/cll" },
  { name: "EG1", href: "/algs/eg1" },
  { name: "Megaminx PLL", href: "/algs/megaPLL" },

  { name: "GSheets", href: "https://docs.google.com/spreadsheets/d/1L0iR5AyRh2sTWymHSD2MiTJXzl8IoxGzyuRgqEhttSs/edit#gid=1313953242" },
  { name: "GitHub", href: "https://github.com/trexrush/algs" },
]
---

<!-- DESKTOP -->
<nav
  class="hidden md:flex w-fit items-baseline m-3 rounded-md shadow-lg divide-x-2 divide-stone-400/10 bg-stone-200 [&>*]:py-2 [&>*]:px-4"
>
  <a href="/algs/" class="text-xl font-bold hover:font-black">Home</a>
  {pages.map((page) => (
    <a href={page.href} class="hover:font-semibold select-none overflow-hidden">{page.name}</a>
  ))}
</nav>

<!-- MOBILE -->
<nav
  class="flex flex-col md:hidden text-xl"
>
  <label for="mobile-menu" class="select-none rounded-md shadow-lg bg-stone-200 cursor-pointer m-3 p-2 w-fit font-bold" >MENU</label>
  <input id="mobile-menu" type="checkbox" class="peer hidden" />
  <div class="hidden peer-checked:flex flex-col absolute top-16 left-3 z-20 w-fit rounded-md shadow-lg divide-x-2 divide-stone-400/10 bg-stone-200">
    <a href="/algs/" class="text-xl font-bold hover:font-black p-1">Home</a>
    {pages.map((page) => (
      <a href={page.href} class="hover:font-semibold p-1 select-none">{page.name}</a>
    ))}
  </div>
</nav>
