---
  // import SetCard from "../components/SetCard.svelte";
  import NewVerticalSetCard from "../components/NewVerticalSetCard.astro";
  import type { IOptions, ISet } from "../scripts/types";

  interface Props {
    options: IOptions
    sets: ISet[]
    size?: number
  }
  const { sets, options, size = 128 } = Astro.props
---

<div class=" relative text-5xl sm:text-7xl w-full text-center my-5">{options.name}</div>

{sets.map((set) => (
      <NewVerticalSetCard set={set} options={options} size={size}/>
))}
