---
const { title } = Astro.props;
---
<!-- DEBUG IN CONSOLE -->
<script>
  import { AlgBuilder } from "../scripts/alg";
  (window as any).AlgBuilder = AlgBuilder
</script>

<html lang="en" class=" font-juju">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#F5F5F4">
    <meta content={"Eduardo's " + (title || '') + " algs"} property="og:title" />
    <meta content="Click to see some wacky alg that whoever posted this link wants to share" property="og:description" />
    <meta content="/icon-256x256.png" property="og:image" />

    <title >{"Eduardo's " + (title || '') + " algs"}</title>
    <link rel="manifest" href="/algs/manifest.json">
    <link rel="icon" href="/algs/icon-192x192.png">
    <link rel="apple-touch-icon" href="/algs/icon-192x192.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
		<meta
			name="viewport"
			content="width=device-width, minimum-scale=1.0, maximum-scale = 1.0, user-scalable = no"
		/>
    <script type="module">
      if ("serviceWorker" in navigator) {
        await navigator.serviceWorker.register('/algs/sw.js')
        console.log("PAGE: sw registered")
      }
    </script>
    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>
    
  </head>
  <body class=" bg-stone-100 dark:bg-stone-900 shadow-stone-800 dark:shadow-stone-100 dark:text-stone-50 box-border">
    <slot name="navbar"/>
    <!-- TODO: dedupe the <main> tags in the page files -->
    <main>
        <noscript><br>⚠️ <br>algs<br> requires JavaScript to work.</noscript>
        <div class="lg:w-[900px] m-auto flex flex-col items-center">
            <slot /> 
        </div>
      </main>
  </body>
</html>