---
  // import SetCard from "../components/SetCard.svelte";
  import VerticalSetCard from "../components/VerticalSetCard.astro";
  import type { IData, ISet } from "../scripts/types";

  interface Props {
    data: IData
    sets: ISet[]
    size?: number
  }
  const { sets, data, size = 128 } = Astro.props
---

<div class=" relative text-5xl sm:text-7xl w-full text-center my-5">{data.name}</div>

{sets.map((set) => (
    <VerticalSetCard set={set} data={data} size={size}/>
))}
