---
  // import SetCard from "../components/SetCard.svelte";
  import SetCard from "../components/SetCard.astro";
import type { IConfig } from "../scripts/config";
  import type { ISet } from "../scripts/config/setDefinitions/dataFormat";

  interface Props {
    config: IConfig
    sets: ISet[]
  }
  const { sets, config } = Astro.props
---

<div id="collapse" class=" z-20 cursor-pointer sticky top-3 sm:top-12 bg-stone-200 dark:bg-stone-800 rounded-md p-1 px-2 
hover:brightness-110 hover:-translate-y-[1px] transition-all select-none">Collapse / Expand all Sets</div>

<div class=" relative text-3xl w-full text-center my-5">{config.name}</div>

{sets.map((set: ISet) => (
  <SetCard set={set} config={config} />
))}

<script>
  let globalOpenState = true
  let setCards = document.querySelectorAll('details:not(nav details)')
  document.getElementById('collapse')?.addEventListener("click", (e) => {
    for (let set of setCards) {
      globalOpenState ? set.removeAttribute('open') : set.setAttribute('open', 'true')
    }
    globalOpenState = !globalOpenState
  })
</script>