---
  // import SetCard from "../components/SetCard.svelte";
  import SetCard from "../components/SetCard.astro";
  import type { IOptions, ISet } from "../scripts/types";

  interface Props {
    options: IOptions
    sets: ISet[]
  }
  const { sets, options } = Astro.props
---

<div id="collapse" class="cursor-pointer dark:bg-stone-800 rounded-sm p-1 px-2 
hover:brightness-110 hover:-translate-y-[1px] transition-all select-none">Collapse / Expand all Sets</div>
<div class=" relative text-5xl sm:text-7xl w-full text-center my-5 -z-10">{options.name}</div>

{sets.map((set) => (
  <SetCard set={set} options={options} />
))}

<script>
  let globalOpenState = true
  let setCards = document.getElementsByTagName('details')
  document.getElementById('collapse')?.addEventListener("click", (e) => {
    for (let set of setCards) {
      globalOpenState ? set.removeAttribute('open') : set.setAttribute('open', 'true')
    }
    globalOpenState = !globalOpenState
  })
</script>